alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1719471393232/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1712667726126/work
Flask-Migrate @ file:///home/conda/feedstock_root/build_artifacts/flask-migrate_1710203994795/work
Flask-Reuploaded==1.4.0
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1719325630281/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1703201714305/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1719361860083/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1713372668944/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1715711344987/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706900163039/work
setuptools==70.1.1
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1718781205804/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
waitress @ file:///home/conda/feedstock_root/build_artifacts/waitress_1707094625152/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1715000201436/work
wheel==0.43.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
