{% extends 'base.html' %}

{% block title %}
Medienstation hinzufügen
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Allgemeine Informationen zur Medienstation</legend>
        <label for="mstitle">Name: </label>
        <input type="text" id="mstitle" name="mstitle" placeholder="Name der Medienstation" required>
        <label for="msimage">Titelbild: </label>
        <input type="file" id="msimage" name="msimage" required>
        <label for="msource">Pfadangabe: </label>
        <input type="file" id="mssource" name="mssource" required>
        <label for="msdescription">Beschreibung: </label>
        <textarea id="msdescription" name="msdescription" rows="4" cols="50" placeholder="optional" maxlength="2500"></textarea>
    </fieldset>
    <fieldset>
        <legend>Angaben zur Ausstellung</legend>
        <label for="extitle">Name: </label>
        <input type="text" id="extitle" name="extitle" placeholder="Name der Ausstellung">
        <label for="exlocation">Ausstellungsort: </label>
        <input type="text" id="exlocation" name="exlocation" placeholder="Ausstellungsort">
        <label for="exsdate">Zeitraum: von</label>
        <input type="date" id="exsdate" name="exsdate">
        <label for="exedate">bis</label>
        <input type="date" id="exedate" name="exedate">
        <label for="extrailer">Beschreibung: </label>
        <textarea id="extrailer" name="extrailer" rows="4" cols="50" placeholder="Veranstaltungstext hier einfügen" maxlength="2500"></textarea>
    </fieldset>
    <fieldset>
        <legend>Medienarten</legend>
        <input type="checkbox" id="mt-audio" name="mt" value="audio" />
        <label for="audio">Audio</label>
        
        <input type="checkbox" id="mt-image" name="mt" value="image" />
        <label for="image">Bild</label>

        <input type="checkbox" id="mt-text" name="mt" value="text"/>
        <label for="text">Text</label>
        
        <input type="checkbox" id="mt-video" name="mt" value="video"/>
        <label for="video">Video</label>

        <input type="checkbox" id="mt-object" name="mt" value="object"/>
        <label for="object">3D Objekt</label>
    </fieldset>

    <fieldset>
        <legend>Interaktionen</legend>
        <input type="checkbox" id="it-touch" name="it" value="touch" />
        <label for="touch">Berühren</label>

        <input type="checkbox" id="it-move" name="it" value="move" />
        <label for="move">Bewegen</label>

        <input type="checkbox" id="it-focus" name="it" value="focus" />
        <label for="focus">Fokussieren</label>

        <input type="checkbox" id="it-compare" name="it" value="compare" />
        <label for="compare">Vergleichen</label>

        <input type="checkbox" id="it-connect" name="it" value="connect" />
        <label for="connect">Verknüpfen</label>

        <input type="checkbox" id="it-zoom" name="it" value="zoom" />
        <label for="zoom">Vergrößern</label>

        <input type="checkbox" id="it-pointclick" name="it" value="pointclick" />
        <label for="pointclick">Zeigen und Klicken</label>
    </fieldset>

    <fieldset>
        <legend>Visualisierung</legend>
        <input type="checkbox" id="viz-book" name="viz" value="book"/>
        <label for="viz-book">Buch</label>

        <input type="checkbox" id="viz-slide" name="viz" value="glyph"/>
        <label for="viz-slide">Diashow</label>

        <input type="checkbox" id="viz-glyph" name="viz" value="map"/>
        <label for="viz-glyph">Glyphen</label>

        <input type="checkbox" id="viz-tiles" name="viz" value="slideshow"/>
        <label for="viz-tiles">Kacheln</label>

        <input type="checkbox" id="viz-map" name="viz" value="tiles"/>
        <label for="viz-map">Karte</label>

        <input type="checkbox" id="viz-timeline" name="viz" value="timeline"/>
        <label for="viz-timeline">Zeitstrahl</label>

    </fieldset>
        <button type="submit">Zum Atlas hinzufügen</button>
</form>
{% endblock %}

