<!DOCTYPE html>
<html lang="de">
<head>
  <title>Medienatlas - {% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="author" content="Felix A. Goebel">
  <meta name="description" content="Medienatlas der Stattlichen Kunstsammlungen Dresden">
  <meta name="keywords" content="Medienstation, SKD, Medieninhalte, Ausstellungen, Digital">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  <script>
    window.static_tab_add = "{{ url_for('add') }}";
    window.static_tab_edit_ex = "{{ url_for('get_exhibitions') }}";
  </script>
</head>
<body>
  <header class="catalog-header" id="base-header">
    <nav class="navbar">
      <span class="skd-brand">
        <span class="skd-logo-dot"></span>
        <span class="skd-logo-text">
          <span class="skd-logo-text-name">
            Staatliche<br>
            Kunstsammlungen
          </span>
          <span class="skd-logo-text-location">Dresden</span>
        </span>
      </span>  
      <ul>
        
      </ul>
    </nav>
  </header>
  <main class="main-content">
    <div id="filterview" class="">
      {% block filter %}{% endblock %}
    </div>
    <div id="splitter"></div>
    <div id="objectview" class="">{% block content %}{% endblock %}</div>
  </main>
  <a class="btn-to-top"></a>
</body>